<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggle()">
    <mat-icon class="material-icons app-toolbar-menu">menu</mat-icon>
  </button>
  Meme.Place

  <span class="fill-remaining-space"></span>


  <button mat-button (click)="registerPage()" *ngIf="!userService.isLoggedIn()">Sign Up</button>
  <button mat-raised-button color="accent" (click)="loginPage()" *ngIf="!userService.isLoggedIn()">Log in</button>

  <p id="username" (click)="gotoProfile()" *ngIf="userService.isLoggedIn()" [(ngModel)]="usernameText" ngDefaultControl>User: {{usernameText}}</p>
  <button mat-raised-button color="accent" (click)="logout()" *ngIf="userService.isLoggedIn()">Log out</button>


</mat-toolbar>
