<mat-card class="loginForm">
    <mat-card-title>Login:</mat-card-title>

    <mat-card-content>
      <mat-form-field id="loginUsernameField">
        <input matInput placeholder="Username" [formControl]="usernameFormControl" [(ngModel)]="usernameLoginText" maxLength="25" >
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field id="loginPasswordField">
        <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl" [(ngModel)]="passwordLoginText" maxLength="25">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
        <mat-checkbox [(ngModel)]="RememberMeCheckbox">Remember Me</mat-checkbox>
        <button mat-button type="cancel" (click)="cancel()">Cancel</button>
        <button mat-button id="loginButton" color="primary" (click)="loginValidate()"  cdkFocusInitial>Login</button>
    </mat-card-actions>

  <!-- [disabled]="!(!usernameFormControl.hasError('required') && !passwordFormControl.hasError('required'))" */ -->
    <mat-card-actions>

    </mat-card-actions>
</mat-card>
