<div class="formContainer">
    <h1 mat-dialog-title>Login</h1>
    
    <div mat-dialog-content class="UserPassContainerLogin">
        <div class="usernameLogin">
            <label for="username">Username:</label>
            <input type="text" class="usernameInput" [(ngModel)]="usernameLogin" required>
        </div>
        
        <br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="passwordInput" [(ngModel)]="passwordLogin" required>
        </div>
    </div>
    
    <div mat-dialog-actions>
        <button mat-button type="login" (click)="loginValidate()">Login</button>
        <button mat-button type="register" (click)="registerPage()">Register</button>
        <button mat-button type="cancel" (click)="cancel()">Cancel</button>
    </div>

</div>