<div class="formContainer">
    <h1 mat-dialog-title>Register</h1>
    
    <div mat-dialog-content class = UserPassContainerRegister>
        <div class="usernameLogin">
            <label for="username">Username:</label>
            <input type="text" class="usernameInput" [(ngModel)]="usernameRegister" required>
        </div>

        <br>
        
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="passwordInput" [(ngModel)]="passwordRegister" required>
        </div>
      
        <br>
      
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" id="password" [(ngModel)]="email" placeholder="Optional">
        </div>
        
    </div>

    <div mat-dialog-actions>
        <button mat-button type="registerConfirm" (click)="registerValidate()" cdkFocusInitial>Register</button>
        <button mat-button type="cancelConfirm" (click)="cancel()">Cancel</button>
    </div>
        
</div>