<div class="formContainer">
    <h1>Login</h1>
    
    <form>
        <div class="usernameLogin">
            <label for="username">Username:</label>
            <input type="text" id="name" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" required>
        </div>
      
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" id="password" placeholder="Optional">
        </div>

        <button type="registerConfirm" (click)="registerValidate()">Register</button>
        <button type="cancel" (click)="cancel()">Cancel</button>
    </form>
</div>