textarea.mat-input-element {
  resize: none;
  overflow: auto;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

.mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 0;
  float: right;
}

.divider {
  height: auto;
  width: 5px;
  display: inline-block;
}
#registerUsernameField {
  width: 100%;
  padding-bottom: 10px;
}

#registerPasswordField {
  width: 100%;
  padding-bottom: 10px;
}

#registerEmailField {
  width: 100%;
  padding-bottom: 10px;
}

#loginPasswordField {
  padding-bottom: 10px;
}

#invalidText {
  font-size: 10px;
  color: darkred;
}

#cancelButton {
  width: 60px;
}

#loginButton {
  width: 60px;
}

#registerButton{
  width: 80px;
}
