#canvasTile {
  overflow: auto;
  background: darkgray;

}

#canvBackdrop {
  background: lightgray;
  box-sizing: border-box;
  border: 1px solid lightgray;
  min-height: 460px;
  text-align: center;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  width: auto;
}

#canvCont {
  background: darkgray;
  border-radius: 1px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .4);
  display: inline-block;
  margin: 50px;
  position: relative;
  vertical-align: middle;
  z-index: 0;
}

canvas {
  margin: 50px;
  border: 1px solid black;
  background: white;
}
