.fill-remaining-space {
  flex: 1 1 auto;
  margin: 0 10px 0 10px;
}

.community-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nsfw-chip {
  margin-left: 10px;
}

.details-btn {
  margin-left: 10px;
}
