textarea.mat-input-element {
  resize: none;
  overflow: auto;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

.communityCreationForm {
  margin: 30px;
  height: 70vh;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#communityNameField {
  border-top: 10px solid transparent;
}

#communityTitleField {
  border-top: 10px solid transparent;
}

#comDescriptionField textarea {
  height: 30vh;
}

#submitButton {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
