.communityCreationForm {
  margin: 30px;
  height: 70vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}


#communityNameField {
  border-top: 10px solid transparent;
}

#communityTitleField {
  border-top: 10px solid transparent;
}

textarea.mat-input-element {
  resize: none;
  overflow: auto;
}

#comDescriptionField textarea {
  height: 30vh;
}



#submitButton {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
