/* Center tabs */
:host ::ng-deep .mat-tab-labels {
  justify-content: center;
}

.browseContentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.flexItem {
  flex-basis: auto;
  margin-top: 10px;
}

