<mat-grid-list cols="1" rowHeight="2em">
  <mat-grid-tile id="btn1" class="functionBtn" [colspan]="1" [rowspan]="3">
  <button mat-button>Test</button>
  </mat-grid-tile>

  <mat-grid-tile id="btn2" class="functionBtn" [colspan]="1" [rowspan]="3">
    <button mat-button>test2</button>
  </mat-grid-tile>

  <mat-grid-tile id="btn3" class="functionBtn" [colspan]="1" [rowspan]="3">
    <button mat-button>test3</button>
  </mat-grid-tile>

  <mat-grid-tile id="btn4" class="functionBtn" [colspan]="1" [rowspan]="3">
    <button mat-button>test4</button>
  </mat-grid-tile>

  <mat-grid-tile id="btn5" class="functionBtn" [colspan]="1" [rowspan]="3">
    <button mat-button>test5</button>
  </mat-grid-tile>
</mat-grid-list>
