<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Set Size
      </mat-panel-title>
      <mat-panel-description>
        {{sHeight}} x {{sWidth}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form id="newSize">
      <mat-action-row>
        <mat-form-field  class="sizeInput">
          <input matInput #height type="number" placeholder="Height" value="{{sHeight}}">
        </mat-form-field>
        <mat-form-field  class="sizeInput">
          <input matInput #width type="number" placeholder="Width" value="{{sWidthsWidth}}">
        </mat-form-field>
        <span class="little-spacer"></span>
        <button mat-raised-button color="accent" (click)="changeSize([height.value, width.value])">Submit</button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Load Image
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form id="uploadImg">
      <mat-action-row>
        <input matInput #imgURL type="url" placeholder="URL" value="{{hardCodeURL}}">
      </mat-action-row>
      <mat-action-row>
        <input #fileIn type="file">
      </mat-action-row>
      <mat-action-row>
        <button mat-raised-button color="accent" >Upload File</button>
        <span class="little-spacer"></span>
        <button mat-raised-button color="accent" (click)="uploadUrl(imgURL.value, resize.checked)">URL</button>
      </mat-action-row>
      <mat-checkbox #resize [checked]="true">Fit to Image?</mat-checkbox>
    </form>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Text
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
