@import url('https://fonts.googleapis.com/css?family=Pacifico|VT323|Quicksand|Inconsolata|Roboto|Lora|Croissant One|Architects Daughter|Emblema One|Graduate|Hammersmith One|Oswald|Oxygen|Krona One|Indie Flower|Courgette|Gruppo|Ranchers');

/* Aliases for Default Fonts to Prevent FontFaceObserver Errors */
@font-face {
  font-family: Impact;
  src: local("Impact");
}

@font-face {
  font-family: Arial;
  src: local("Arial");
}

.little-spacer {
  margin: 0 8px 0 8px;
}

.tiny {
  margin: 0;
  padding: 0;
  width:36px;
  font-size: 12px;
}

.vert-spacer {
  margin: 0 5px 0 5px;
}

mat-button-toggle-group {
  background-color: white;
}


