@import url('https://fonts.googleapis.com/css?family=Pacifico|VT323|Quicksand|Inconsolata|Impact');

.sizeInput {
  width: 80px;
  margin-left: 15px;
}

#fontSize {
  width: 40px;
}

.little-spacer {
  margin: 0 8px 0 8px;
}

.tiny {
  margin: 0;
  padding: 0;
  width:36px;
  font-size: 12px;
}


.cdk-overlay-container .mat-menu-panel {
  max-width: 560px !important;
}

.vert-spacer {
  margin: 0 5px 0 5px;
}


