.meme-dialog {
  overflow-x: hidden;
  overflow-y: scroll;
}

.cardActionButtons {
  float: right;
}

.author {
  float: left;
  line-height: 40px; // Needed to vertical align
  vertical-align: middle;
}

mat-list {
  clear: both;
}
