<div class="meme-dialog"
     [style.maxHeight.px]="maxDialogHeight"
     [style.width.px]="dialogWidth">
    <img class="meme-img" [src]="meme.Image.link">

    <h1 class="author" mat-dialog-title>
      {{meme.creator.username}} posted {{ meme.createdAt | timeAgo }}
    </h1>

    <div class="cardActionButtons">
      <!-- Up vote button -->
      <button mat-icon-button
              (click)="onVote(1)"
              [color]="myVote == 1 ? 'primary': 'basic'">
        <i class="material-icons">thumb_up</i>
      </button>
      <span>{{totalVote + myVote}}</span>

      <!-- Down vote button -->
      <button mat-icon-button
              (click)="onVote(-1)"
              [color]="myVote == -1 ? 'warn': 'basic'">
        <i class="material-icons">thumb_down</i>
      </button>
    </div>

    <div class="form-wrapper" *ngIf="userService.isLoggedIn()">
      <form class="text-wrapper" [formGroup]="form">
        <mat-form-field>
          <textarea matInput type="text" placeholder="Add a comment" formControlName="commentText" maxLength="1000"></textarea>
        </mat-form-field>
      </form>
      <div class="button-wrapper">
        <button class="side-button" mat-icon-button (click)="submitComment()"><i class="material-icons">send</i></button>
      </div>
    </div>

    <mat-list *ngIf="comments.length > 0">
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let comment of comments">
        <div class="line-wrapper">
          <div class="text-wrapper">
            <div class="comment-info" matLine>{{ comment.User.username }} commented {{ comment.createdAt | timeAgo }}</div>
            <div matLine>{{ comment.text }}</div>
          </div>
          <div class="button-wrapper" *ngIf="userService.user && comment.User.username===userService.user.username">
            <button class="side-button" mat-icon-button (click)="deleteComment(comment.id)">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
    <div style="clear: both"></div>
</div>
