<div class="meme-dialog" [style.maxHeight.px]="maxDialogHeight()">
  <img class="meme-img" [style.minWidth.px]="minCardWidth()" [style.maxWidth.px]="maxCardWidth()" [src]="imageLink">
  <mat-dialog-content class="actions" style="margin-top: -3px;">
    <span class="author">
      <a href="/">{{username}}</a>
    </span>

    <div class="cardActionButtons">
      <!-- Up vote button -->
      <button mat-icon-button (click)="onClickUpVote()" [color]="myVote == 1 ? 'primary': 'basic'"><i
        class="material-icons">thumb_up</i></button>
      <span>{{totalVote + myVote}}</span>
      <!-- Down vote button -->
      <button mat-icon-button (click)="onClickDownVote()" [color]="myVote == -1 ? 'warn': 'basic'"><i
        class="material-icons">thumb_down</i></button>
    </div>
    <br />
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let comment of comments">
        <div class="comment">
          <div class="comment-info" matLine>{{ comment.User.username }}</div>
          <div matLine>{{ comment.text }}</div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <form [formGroup]="form" (ngSubmit)="submitComment()" *ngIf="userService.isLoggedIn()">
      <mat-form-field>
        <input matInput type="text" placeholder="Add a comment" formControlName="commentText" maxLength="1000">
      </mat-form-field>
    </form>
    <div style="clear: both"></div>
  </mat-dialog-content>
</div>
