.meme-dialog {
  overflow-x: hidden;
  overflow-y: scroll;
}

.meme-img {
  display: block;
  margin: auto;
}

.cardActionButtons {
  float: right;
}

.author {
  float: left;
  line-height: 40px; // Needed to vertical align
  vertical-align: middle;
}

mat-list {
  clear: both;
  padding: 0 10px 0 0;
}

mat-list .comment-info {
  font-size: small;
  font-weight: bold;
}

::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
  height: auto;
}

::ng-deep .mat-list-item-content {
  padding: 0!important;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}

.comment-line {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 0;
}

.comment {
  flex: 1;
  clear: both;
}

.delete-button {
  flex: 0;
}

mat-form-field {
  display: inherit;
}
