#creation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

app-size {
  width: 100%;
  margin: 0 25px 0 25px;
}

app-fabric {
  width: 100%;
}

#creation-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#fabricBody {
  flex-grow: 95;
}

#functionBar {
  flex-grow: 5;
}

#zoom-container {
  display: flex;
  //flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  //align-items: center;
}


#fabiric-container {
  flex-grow: 85;
}

#creationBar-container {
  flex-grow: 15;
}
