<mat-grid-list id="header-row" cols="6" rowHeight="4em">
  <mat-grid-tile id="title-input-tile" [colspan]="2">
    <form style="width: 80%">
      <mat-form-field style="width: 80%">
        <input style="width: 80%" matInput placeholder="Title.. (optional)" [(ngModel)]="title" name="title">
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"></mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <app-search-bar id="community-bar" barWidth="100%" placeholder="Community" (optionSelected)="onCommunitySelect($event)"></app-search-bar>
    <button id="meme-create" mat-raised-button color="primary" (click)="fab.publish()">
      Create Meme
    </button>
  </mat-grid-tile>
</mat-grid-list>


<div id="creation-body"
     (wheel)="onMouseWheel($event)"
     (keyup.control.z)="fab.undo()"
     (keyup.control.y)="fab.redo()">
  <app-fabric #fab style="margin: auto;"></app-fabric>

  <div id="functionBar">
    <app-function-bar #functs></app-function-bar>
  </div>
</div>
