#creation-body {
  height: calc(100% - (4em + 0px) + 0px);
  background: lightgrey;
  overflow: auto;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#community-bar {
  width: 60%;
}

#meme-create {
  margin-left: 10px;
}

#functionBar {
  position: absolute;
  top: calc((4em + 0px) + 10px);
  right: 10px;
}
