<mat-card class="meme-card" [ngStyle] = "cardStyle" >
  <div class="image-frame">
    <img class="memeImg" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </div>

  <mat-card-actions>
    <mat-card-subtitle class="authorNameField">
      <a href="/">{{username}}</a>
    </mat-card-subtitle>

    <div class="cardActionButtons">
      <button mat-button (click)="onClickUpVote" [disabled]="voted"><i class="material-icons">thumb_up</i></button>
      <button mat-button (click)="onClickDownVote" [disabled]="voted"><i class="material-icons">thumb_down</i></button>
    </div>
  </mat-card-actions>
</mat-card>
