.mat-card-image:first-child {
  margin-top: 0px;
}

.mat-card-actions {
  margin: 0px;
  padding: 20px 0px;
}

.image-frame {
  overflow: hidden;
  min-width: inherit;
  max-width: inherit;
  min-height: 320px;
  max-height: 320px;
}

.memeImg {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.cardActionButtons {
  float: right;
}

.cardActionButtons button {
  border: 0px;
  cursor: pointer;
}

mat-card-subtitle, .authorNameField {
  display: inline;
}
