.meme-card {
  padding: 0;
  text-align: center; // center the image in the card if the width is too small
  width: auto;
}

.meme-img {
  width: auto;
  cursor: pointer;
}

.author {
  line-height: 40px; // Needed to vertical align
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  padding: 0 5px 0 5px;
  display: flex;
}

.vote {
  white-space: nowrap;
}
