<mat-sidenav-container fullscreen [style.top.px]="utils.screenWidth <= 599 ? 56 : 64">

  <mat-sidenav #sidenav [mode]="utils.isMobile ? 'over': 'side'" [opened]="!utils.isMobile" [style.width.px]="sidebarWidth">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/create-community']">Create Community</a>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let communityFav of communitiesFavourited; let j = index">
        <a mat-line *ngIf="communityFav.isFavourited" [routerLink]="['/']">
           {{ communityFav.title }}
        </a>
        <button mat-icon-button (click)="toggleFavourite(communityFav)" ><mat-icon class="Favourited">star</mat-icon></button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let community of communities">
        <mat-list-item *ngIf="!community.isFavourited">
          <a mat-line [routerLink]="['/']">
             {{ community.title }}
          </a>
          <button mat-icon-button (click)="toggleFavourite(community)"><mat-icon>star_border</mat-icon></button>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
