/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Remove default padding */
html, body {
  margin: 0;
  min-height: 100vh;
  height: auto;
}
