<input #query
       class="mat-elevation-z2"
       type="search"
       [placeholder]="placeholder"
       (keyup)="onKey(query.value)"
       [style.width]="barWidth ? barWidth : ''"
       [matAutocomplete]="auto">
<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected.emit($event)">
  <mat-optgroup *ngIf="options.communities && options.communities.length > 0" label="Communities">
    <mat-option *ngFor="let community of options.communities" [value]="community">
      {{ community.name }} - {{community.title}}
    </mat-option>
  </mat-optgroup>
</mat-autocomplete>

