<mat-card [hidden]="hidden" style="white-space: nowrap;">
  <mat-select  #fontOption [value]="style.fontFamily" placeholder="Font" (change)="changeFont($event.value)">
    <mat-option *ngFor="let font of fonts"  [value]="font.name">{{font.name}}</mat-option>
  </mat-select>
  <mat-input-container style="width: 60px; padding-bottom: 0">
    <input matInput #fontSize
           type="number"
           placeholder="Font Size"
           min="0" value="12"
           [value]="style.fontSize"
           (change)="setStyle('fontSize', fontSize.value)">
  </mat-input-container>
  <input #fillColour type="color" [value]="style.fill" (change)="setStyle('fill', fillColour.value)">
  <button (click)="center('both')" mat-icon-button matTooltip="Center Horizontally and Vertically"><mat-icon>border_inner</mat-icon></button>
  <button (click)="center('horizontal')" mat-icon-button matTooltip="Center Horizontally"><mat-icon>border_vertical</mat-icon></button>
  <button (click)="center('vertical')" mat-icon-button matTooltip="Center Vertically"><mat-icon>border_horizontal</mat-icon></button>
  <br>
  <mat-button-toggle-group multiple>
        <mat-button-toggle #bold
                           (change)="setStyle('fontWeight', $event.source.checked ? 'bold' : 'normal')"
                           [checked]="style.fontWeight === 'bold'">
          <mat-icon>format_bold</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle #underline
                           (change)="setStyle('underline', $event.source.checked)"
                           [checked]="style.underline">
          <mat-icon>format_underlined</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle #italic
                           (change)="setStyle('fontStyle', $event.source.checked ? 'italic' : 'normal')"
                           [checked]="style.fontWeight === 'italic'">
          <mat-icon>format_italic</mat-icon>
        </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group (change)="setStyle('textAlign', $event.value)" [value]="style.textAlign">
        <mat-button-toggle value="left">
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="center">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="right">
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="justify">
            <mat-icon>format_align_justify</mat-icon>
          </mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>
