.browseContentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.flexItem {
  flex-basis: auto;
  margin-top: 10px;
}

.progress-spinner {
  overflow: hidden;
  margin-top: 20px;
}

:host {
  width: 100%;
  display: block;
}

.no-memes {
  display: block;
  margin: 20px auto 0 auto;
  text-align: center;
}

.no-memes-img {
  max-width: 95%;
}

mat-paginator {
  margin-top: 15px;
}
