<div class="progress-spinner" *ngIf="loading">
  <mat-progress-spinner style="margin: 0 auto;" mode="indeterminate"></mat-progress-spinner>
</div>
<div class="browseContentWrapper" [style.justify-content]="utils.isMobile ? 'center' : 'flex-start'">
  <app-meme-card class="flexItem" *ngFor="let meme of memes"
                 [imageHeight]="300"
                 [memeId]="meme.id"
                 [style.marginLeft.px]="utils.isMobile ? 0 : 10">
  </app-meme-card>
</div>
<mat-paginator *ngIf="!loading && totalCount > 0" [length]="totalCount" [pageSize]="pageSize" (page)="onPaginate($event)"></mat-paginator>
