<div class="progress-spinner" *ngIf="loading">
  <mat-progress-spinner style="margin: 0 auto;" mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="!loading && totalCount === 0" class="no-memes">
  <img *ngIf="!loading && totalCount === 0" class="no-memes-img"
       src="/assets/images/no-memes.png">
  <br>
  <a [routerLink]="['/creation']">MAKE A MEME HERE</a>
</div>

<div class="browseContentWrapper" [style.justify-content]="utils.isMobile ? 'center' : 'flex-start'" *ngIf="computedDimensions.length === memes.length">
  <app-meme-card class="flexItem" *ngFor="let meme of memes; let i = index"
                 [imageHeight]="computedDimensions[i].height"
                 [imageWidth]="computedDimensions[i].width"
                 [memeId]="meme.id"
                 [style.marginLeft.px]="utils.isMobile ? 0 : 10">
  </app-meme-card>
</div>
<mat-paginator *ngIf="!loading && totalCount > 0" [length]="totalCount" [pageSize]="pageSize" (page)="onPaginate($event)"></mat-paginator>
